<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>Markitdown</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <textarea
                class="form-control"
                name="markdownInput"
                id="markdownInput"
                cols="30"
                rows="10"
                [(ngModel)]="markdownInput"
                (ngModelChange)="convertMarkdown()"
            ></textarea>
        </div>
        <div class="col-md-6">
            <div [innerHTML]="htmlOutput"></div>
        </div>
    </div>
</div>
